<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/decorator}">
<head>
    <title>Graduation Design</title>
</head>
<body>
<div layout:fragment="content">
    <div class="layui-header">
        <!--layui-header start-->
        <div th:include="common/layout_nav::nav"></div>
        <!--end layui-header-->

        <!--layui-side start-->
        <div class="layui-side layui-bg-black" th:include="common/layout_sider::menu"></div>
        <!--end layui-side-->
    </div>

    <!--layui-body start-->
    <div class="layui-body">
        <div class="layui-content-container" th:include="order/order_item::content_container"></div>
    </div>
    <!--end layui-body-->

    <!--layui-footer start-->
    <div class="layui-footer" th:include="common/layout_footer::copyright"></div>
    <!--end layui-footer-->
</div>
</body>
</html>