<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dl.mapper.MenuMapper">

    <sql id="columns">
        id, menu_name, icon, url, status, sort, create_time, update_time
    </sql>

    <resultMap id="menuMap" type="com.dl.entity.MenuEntity">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="menu_name" property="name" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectMenuList" resultMap="menuMap">
        SELECT
        <include refid="columns"/>
        FROM
        tb_menu_info
    </select>
</mapper>