<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/decorator::meta">
    <title>Graduation Design</title>
</head>
<body>
<div class="layui-content">
    <form class="layui-form" lay-filter="goodsForm" id="goodsForm" method="post">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">商品类别</label>
                <div class="layui-input-block">
                    <select name="category" id="category" lay-filter="category">
                        <option value="">请选择商品类别</option>
                        <option th:each="category : ${categories}" th:value="${category.code}"
                                th:text="${category.name}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-block">
                    <select name="code" id="code" lay-filter="code">
                        <option value="">请选择商品名称</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-inline">
                <input type="text" name="contact" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
                <input type="text" name="telephone" autocomplete="off" class="layui-input" maxlength="11">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系地址</label>
            <div class="layui-input-inline">
                <input type="text" name="address" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品数量</label>
            <div class="layui-input-inline">
                <input type="text" name="quantity" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品单价</label>
            <div class="layui-input-inline">
                <input type="text" name="unitPrice" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品折扣</label>
            <div class="layui-input-inline">
                <input type="text" name="discount" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">优惠金额</label>
            <div class="layui-input-inline">
                <input type="text" name="discountedPrice" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">总金额</label>
            <div class="layui-input-inline">
                <input type="text" name="totalPrice" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">商品状态</label>
                <div class="layui-input-block">
                    <select name="type" lay-filter="type">
                        <option th:if="${type} == 'in'" value="in" selected="selected">进货</option>
                        <option th:if="${type} == 'out'" value="out" selected="selected">出货</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script type="application/javascript" th:src="@{/layui/layui.all.js}"></script>
    <script type="application/javascript" th:src="@{/js/goods.js}"></script>
</div>
</body>
</html>