@charset "UTF-8";

.login-bg {
    background: url("../img/login.jpg") no-repeat;
    background-size: cover;
}

.login-title {
    text-align: center;
    margin: 0px 0px 20px;
    color: #61c32e;
}

.container {
    width: 260px;
    padding: 40px 60px;
    background: rgba(255, 255, 255, .2);
    margin: 200px auto;
}

.layui-form-icon {
    float: left;
    display: block;
    padding: 9px 15px 8px;
    font-weight: 400;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background: #f9f9f9;
    color: #555;
}

.layui-form-input {
    margin: 20px 0px 30px;
}

.login-btn {
    width: 240px;
}