<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Graduation Design</title>
</head>
<body>
<div>
    <table class="layui-hide" id="category_detail" lay-filter="test"></table>
    <script type="text/html" id="operation">
        <a class="layui-operation layui-edit" lay-event="edit">编辑</a>
        <a class="layui-operation layui-del" lay-event="del">删除</a>
    </script>
    <script type="application/javascript" th:src="@{/layui/layui.all.js}"></script>
    <script type="application/javascript" th:src="@{/js/category.js}"></script>
</div>
</body>
</html>